body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}



#grid{
    border: solid;
    border-color: gray;
    border-width: 0.5vw;

    width: 50vw;
    height: 50vw;
}

#reset-btn{
    margin-top: 3vh;
    width: 10vw;
    height: 5vh;
}

